@import url("../fonts/fonts.css");
@import url("root.css");
@import url("reset.css");
@import url("global.css");

body {
  font-family: 'Roboto';
  font-size: 16px;
  color: var(--black);
}

.prime {
  margin-bottom: 20px;
}

.prime-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
}

.prime-img {
  position: relative;
  background-image: url("../img/decor/avatar.svg");
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 100%;
  background-size: cover;
  overflow: hidden;
}

.prime-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
}

.prime-text-box {
  display: flex;
  align-items: center;
}

.prime-heading {
  margin-bottom: 10px;
}

.prime-title {
  margin-bottom: 10px;
}

.prime-text {
  max-width: 800px;
  line-height: 150%;
}

@media(max-width:1040px) {
  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 24px;
  }
}

@media(max-width:750px) {
  .container {
    padding: 0 10px;
  }

  .prime-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    overflow: hidden;
  }

  .prime-img {
    min-width: 300px;
    min-height: 300px;
    padding-top: 0;
  }

  .prime-text-box{
    text-align: center;
  }
}

/*///////////////// .panel /////////////////////*/

.panel {
  margin-top: 300px;
}

.panel button {
  padding: 10px;
  margin-right: 30px;
  border-radius: 5px;
}

.test {
  opacity: 0;
}

.test.active {
  opacity: 1;
  z-index: 5;
}

.cat {
  opacity: 0;
}

.cat.active {
  opacity: 1;
  z-index: 5;
}

#content {
  border: 1px solid gray;
}

.prime-text-box {
  display: none;
}

.prime-text-box.active {
  display: flex;
}